@use "../abstracts/all" as *;
/* button */
.btn {
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  font-size: pxToRem(11px);
  line-height: pxToRem(13px);
  border-radius: pxToRem(50px);
  background: $color-primary;

  &--primary {
    padding: pxToRem(9px) pxToRem(40px);
    border: none;
  }

  &--outline {
    background: $color-heading;
    padding: pxToRem(8px) pxToRem(20px);
    background-color: $color-heading;
    border: pxToRem(2px) solid $background-form-color;
    box-sizing: border-box;
  }

  &--info {
    padding: pxToRem(9px) pxToRem(12px);
    background: $color-primary;
    min-width: pxToRem(140px);
  }

  &--light {
    padding: pxToRem(12px) pxToRem(30px);
    letter-spacing: 0.8px;
    border: pxToRem(2px) solid $color-heading;
    box-sizing: border-box;
    color: $color-heading;
    background-color: $hollow;
  }

  &--dark {
    background: $background-form-color;
    font-size: pxToRem(10px);
    line-height: pxToRem(13px);
    border-radius: pxToRem(4px);
    border: none;
    padding: pxToRem(6px) pxToRem(25px);
    color: $background-color;
  }
}

@include tablet {
  .btn {
    &--primary {
      padding: pxToRem(12px) pxToRem(44px);
    }

    &--outline {
      padding: pxToRem(9px) pxToRem(20px);
    }

    &--info { 
      padding: pxToRem(13px) pxToRem(12px);
    }

    &--dark {
      padding: pxToRem(7px) pxToRem(28px);
    }
  }
}

@include desktop {
  .btn {
    &--primary {
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.8px;
      padding: pxToRem(14px) pxToRem(54px);
    }

    &--outline {
      padding: pxToRem(20px) pxToRem(36px);
      margin-bottom: pxToRem(0px);
      border: none;
      font-size: pxToRem(16px);
      letter-spacing: 1px;
    }

    &--info {
      font-size: pxToRem(16px);
      line-height: pxToRem(20px);
      padding: pxToRem(14px) pxToRem(51px);
    }

    &--light {
      font-size: pxToRem(18px);
      padding: pxToRem(14px) pxToRem(25px);
    }

    &--dark {
      height: 49px;
      font-size: pxToRem(16px);
      line-height: pxToRem(20px);
      letter-spacing: 1px;
      padding: pxToRem(4px) pxToRem(25px);
    }
  }

  .btn--outline:hover {
    background: $color-primary;
  }
}