// color
$color-primary: #ebcb80;
$background-form-color: #4b4b4b;
$color-heading: #fff;
$color-circle-border: #f3f3f3;
$color-box-shadow: rgba(0, 0, 0, 0.5);
$color-text: #000;
$color-border: #999;
$background-color: #f6f6f6;
$hollow: transparent;

// font-family
$primary-font: "SourceSansPro-Regular";
$secondary-font: "Montserrat-Bold";

// breakpoint
$medium: 768px;
$extra-lager: 1200px;