@use "../abstracts/all" as *;
.results {
  &__heading{
    padding-top: pxToRem(65px);
    text-align: center;
  }

  &__title {
    font-weight: bold;
    font-size: pxToRem(20px);
    line-height: pxToRem(40px);
    letter-spacing: -0.5px;
  }

  &__text {
    font-size: pxToRem(11px);
    line-height: pxToRem(16px);
    padding: pxToRem(7px) pxToRem(13px);
  }
}

span {
  font-size: pxToRem(15px);
}

svg {
  width: 115px;
  height: 115px;
}

@include tablet {
  .results {
    &__heading{
      padding-top: pxToRem(54px);
    }

    &__title {
      font-size: pxToRem(32px);
      line-height: pxToRem(40px);
    }
  }
}

@include desktop {
  .results {
    &__heading{
      padding-top: pxToRem(92px);
    }

    &__title {
      @include text-size;
    }

    &__text {
      font-size: pxToRem(16px);
      line-height: pxToRem(24px);
      padding: pxToRem(25px) 0 pxToRem(15px);
    }
  }

  span {
    font-size: pxToRem(24px);
  }

  svg {
    width: 200px;
    height: 200px;
  }
}
